<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../../css/common.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/header.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/Footer.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/k_line/business.min.css" />
	</head>
	<body>
		<!--这里是头部-->
		<div id="header"></div>
		
		<div class="bibi">
		   <div class="bus">
			<div class="title">
				<span>币币交易</span><i></i>买卖盘
			</div>
		   </div>
		 <!--这里是买卖盘-->
		   <div class="disc">
		   	<div class="item">
		   		<div class="title">买盘</div>
		   		<div class="con">
		   			<table class="table">
		   				<tr><th></th><th>买入价(CNDT)</th><th>买入量</th></tr>
		   				<tr><td>买1</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买2</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买3</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买4</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买5</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买6</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买7</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买8</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买9</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买10</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买11</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>买12</td><td>936.22</td><td>23.54</td></tr>
		   			</table>
		   		</div>
		   	</div>
		   	<div class="right">
		   		<div class="title">卖盘</div>
		   		<div class="con">
		   			<table class="table">
		   				<tr><th></th><th>卖入价(CNDT)</th><th>卖入量</th></tr>
		   				<tr><td>卖1</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖2</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖3</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖4</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖5</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖6</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖7</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖8</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖9</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖10</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖11</td><td>936.22</td><td>23.54</td></tr>
		   				<tr><td>卖12</td><td>936.22</td><td>23.54</td></tr>
		   			</table>
		   		</div>
		   	</div>
		   </div>
		   
		</div>
				<!--这里是底部-->
		<div id="footer"></div>
		
		
		<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/common.min.js"></script>
	</body>
</html>