body{background:#F3F8FC}


.bibi{width:80%;overflow: hidden;min-width: 1200px;margin:0 auto 50px}
.bibi .bus{overflow: hidden;}
.bibi .bus .title{width:100%;height:54px;line-height: 54px;box-sizing: border-box;padding:0 30px;font-size: 16px;background:#fff}
.bibi .bus .title span{display: inline-block;color:#1660EB}
.bibi .bus .title i{display: inline-block;width:7px;height: 13px;background:url(../../img/zhi.png) no-repeat center center;background-size: 100% 100%;margin:0 20px}

.bibi .disc{width:100%;overflow: hidden;margin-top:20px;display: flex;}
.bibi .disc .item{width:48%;height:600px;display: inline-block;}
.bibi .disc .item .title{width:100%;background:#fff;font-size: 16px;box-sizing: border-box;padding:0 30px;margin-bottom:1px;height:48px;line-height: 48px;}
.bibi .disc .item .con{width:100%;overflow: hidden;background:#fff;box-sizing: border-box;padding:10px 30px}
.bibi .disc .item .con table th{border: none;color:#666}
.bibi .disc .item .con table td{border: none;}
.bibi .disc .item .con table{font-size: 12px;line-height: 20px;}
.bibi .disc .item .con table td:first-child{color:#07BE89}

.bibi .disc .right{flex: 1;margin-left:2%;height: 600px;}
.bibi .disc .right .title{width:100%;background:#fff;font-size: 16px;box-sizing: border-box;padding:0 30px;margin-bottom:1px;height:48px;line-height: 48px;}
.bibi .disc .right .con{width:100%;overflow: hidden;background:#fff;box-sizing: border-box;padding:10px 30px;}
.bibi .disc .right .con table th{border: none;color:#666}
.bibi .disc .right .con table td{border: none;}
.bibi .disc .right .con table{font-size: 12px;line-height: 20px;}
.bibi .disc .right .con table td:first-child{color:#07BE89}