<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>404</title>
		<link rel="stylesheet" type="text/css" href="../../css/common.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/header.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/Footer.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/animate.min.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../../css/Consultation/details.min.css"/>-->
		<link rel="stylesheet" type="text/css" href="../../css/404.min.css"/>
	</head>
	<body>
		<!--这里是头部-->
		<div id="header"></div>
		<div id="center">
			<div class="center">
				<img  src="../../img/4041.png"/ class="img1">
				<img  src="../../img/4042.png" class="img2"/>
			</div>
		</div>
		<!--这里是底部-->
		<div id="footer" style="clear: both;"></div>
		<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/common.min.js"></script>
		<script type="text/javascript" src="../../js/person_cen/person_cen.min.js"></script>
		<script type="text/javascript" src="../../js/Consultation/Consultation.min.js"></script>
	</body>
</html>