<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Currency exchange</title>
		  <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../../css/common.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/header.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/Footer.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/Currency_exchange/legalTender.min.css"/>
	</head>
	<body>
		<!--支付宝弹窗-->
		<div id="zhiFuBao">
			<div class="zhiFuBaoContent animated fadeInDown">
				<img src="../../img/zfb.png" class="img1"/>
				<div class="closeImg"> <img src="../../img/close.png"/></div>
			</div>
		</div>
		<!--确认放行弹窗-->
		<div id="discharged">
			<div class="dischargedContent animated fadeInDown">
				<div class="dischargedTitle">
					<span class="titleText fl">Confirm the release</span>
					<span class="titleBtn fr">×</span>
				</div>
				<div class="dischargedMessage">
					<img src="../../img/setno.png" class="fl"/>
					<div class="fr dischargedMeg">
						Be sure to log on to an online bank or third party payment account to confirm receipt of the sum. Have you confirmed the receipt of this amount?
				    </div>
				</div>
				<div class="dischargedPas">
					<input type="password"  placeholder="Please enter the capital cipher" class="form-control dischargedPasInput" />
				</div>
				<div class="dischargedKnows">
					<img src="../../img/selecrbox.png" class="dischargedImg hasselect"/>I confirm that my account has been registered and I have checked the receipt.
				</div>
				<div class="springBtn">
					<div class="cancelBtn">Cancel</div>
					<div class="confirmBtn" id="dischargedForm">Confirm</div>
				</div>
			</div>
		</div>
		<!--拨打电话弹窗-->
		<div id="call">
			<div class="callContent animated fadeInDown">
				<div class="callTitle">
					<span class="titleText fl">Confirm the dialing</span>
					<span class="titleBtn fr">×</span>
				</div>
				<div class="callMessage">
					
				</div>
				<div class="springBtn">
					<div class="cancelBtn">Cancel dialing</div>
				</div>
			</div>
		</div>
		<!--这里是取消订单窗口-->
		<div id="cancel">
			<div class="cancelContent animated fadeInDown">
				<div class="cancelTitle">
					<span class="titleText fl">Cancellation of order</span>
					<span class="titleBtn fr">×</span>
				</div>
				<div class="cancelMessage">
					<span>If you have paid the seller, please do not cancel the transaction.</span><br />
					Cancellation rule: a total of 3 cancellations on that day will limit the trading function of the day.
				</div>
				<div class="springBtn">
					<div class="cancelBtn">I'll think about it again</div>
					<div class="confirmBtn" id="cancelForm">Confirmation of cancellation</div>
				</div>
			</div>
		</div>

		<!--这里是确认付款弹窗-->
		<div id="confirmPay">
			<div class="position">
			<div class="confirmPayContent animated fadeInDown">
				<div class="payTitle">
					<span class="titleText fl">Confirmation of payment</span>
					<span class="titleBtn fr">×</span>
				</div>
				<div class="confirmPayType">
					<p class="payTypeLeft fl">Purchase<span class="payTypeLeftNmae"></span></p>
					<p  class="fr"><label>Order number：</label><span class="payTypeRight"></span></p>
				</div>
				<div class="confirmNumber">
					<p ><label>Total amount：</label><span class="totalMoney"></span></p>
					<p ><label>Number of transactions：</label><span class="totalNumer"></span></p>
				</div>
				<div class="">
					Payment method：<span class="payImg"></span><span class="payAderess" style="display:none"></span>
				</div>
				<div class="payHint">
					<img src="../../img/setno.png" class="fl"/>
					<div class="fr payHintMeg">
					Dear user：<br/>
					1. if you have paid, please click below [I have paid], the seller will confirm the receipt in time for your currency;<br/>
					2. for users who have not paid to complete, but click on [I have paid] will reduce the credit weight, or even freeze the account permissions, please know;
					</div>
				</div>
				<div class="springBtn">
					<div class="cancelBtn">Cancel</div>
					<div class="confirmBtn" id="payForm">I have paid for it</div>
				</div>
			</div>
			
			</div>
		</div>
		
		<!--这里是买入弹窗-->
		<div id="buying">
			<div class="buyContent animated fadeInDown">
				<div class="buyTitle">
					<span class="titleText fl">Confirm the purchase</span><span class="titleTextType">CNDT</span>
					<span class="titleBtn fr">×</span>
				</div>
				<div class="buyText">
					<div class="item">
						<label>Client：</label><span id="buyBtn_nameNum"></span>
					</div>
					<div class="item">
						<label>Payment：</label><span  id="buyBtn_imgs"></span>
					</div>				
				</div>
				<div class="buyMessage">
					<ul >
						<li><label>Quota<span> ( CNY )</span></label><span id="buyBtn_tradeLimit"></span></li>
						<li><label>Price<span> ( CNY )</span></label><span id="buyBtn_num"></span></li>
						<li><label>Number<span> ( CNDT )</span></label><span><input type="text" id="buyBtn_tokenNum" maxlength="10" onkeyup="value=value.replace(/[^\d.]/g,'')" ng-pattern="/[^a-zA-Z]/"/></span></li>
						<li><label>Money<span> ( CNY )</span></label><span id="buyBtn_Money"></span></li>
					</ul>
				</div>
				<div class="springBtn">
					<div class="cancelBtn">Cancel</div>
					<div class="confirmBtn" id="buyingBar">Confirm</div>
				</div>
			</div>
		</div>
		<!--这里是头部-->
		<div id="header"></div>
		<!--这里是中间内容-->
		<div id="center">
			<div id="centerTop">
				<div class="topNumber" id="topNumber">
					<!--CNDT可用&nbsp<span>0.00</span>&nbsp&nbsp 冻结313.00
					<div class="about"><a>关于点对点</a><span style="color: #1660EB;">？</span></div>-->
				</div>
				<div class="liDiv">
					<table class="table table-hover" id="transactionTable">
						<thead>
							<tr>
								<th>sort</th>
								<th>price(CNY)</th>
								<th>number(CNDT)</th>
								<th class="money">money(CNY)&nbsp&nbsp<img src="../../img/select.png" class="moneyImg"/>
									<div class="moneyDiv">
										<ul>
											<li onclick="judgeMoney(0)">All</li>
											<li onclick="judgeMoney(50000)">>50thousand</li>
											<li onclick="judgeMoney(10000)">>100thousand</li>
											<li onclick="judgeMoney(150000)">>150thousand</li>
										</ul>
									</div>
								</th>
								<th class="markTh">client(Order quantity)&nbsp&nbsp<img src="../../img/mark.png" class="markImg"/>
									<div class="markDiv" style="height: 110px;">
										<p>Order quantity= Number of completed orders + Cancelling the number of orders</p> 
										<p>Note: the order not included in the sales order is not included in the sales order.</p>
									</div>
								</th>
								<th>scope of trade(CNY)</th>
								<th class="select">
									all modes of payment&nbsp&nbsp<img src="../../img/select.png" class="selectImg down"/>
									<div class="selectDiv">
										<ul>
											<li onclick="pay(0)">All</li>
											<li onclick="pay(3)">Bankcard</li>
											<li onclick="pay(1)">Alipay</li>
											<li onclick="pay(2)">WeChat</li>
										</ul>
									</div>
								</th>
							</tr>
						</thead>
						<tbody id="agentList">
					
						</tbody>
					</table>
				</div>		
			</div>
			<div id="centerBottom">
				<div class="formNav">
					<ul>
						<li class="liOne colorLi" onclick="getAll(4)">Unfinished order</li>
						<li class="liTwo" onclick="allUnifished(2,1,10)">Completed order</li>
						<li class="liThree" onclick="allUnifished(1,1,10)">Cancellation of order</li>
						<span class="pro"></span>
					</ul>
				</div>
				<div class="centerDiv" >	
				<!--无订单时背景框-->
				
				<!--未完成订单买入生成窗-->
				<div class="moneySet" onclick="goPayment();" style="width: 150px !important;">Payment setting</div>
				
				<input type="hidden" id="total"/>
				<input type="hidden" id="page"/>
				<input type="hidden" id="rows"/>
				
				<input type="hidden" id="totalY"/>
				<input type="hidden" id="pageY"/>
				<input type="hidden" id="rowsY"/>	
				
				<input type="hidden" id="totalC"/>
				<input type="hidden" id="pageC"/>
				<input type="hidden" id="rowsC"/>	
				
					<div id="inputhidden">
						
						
					</div>
					
				<div id="agentTrList">
									
					<div class="reminderText">
						<p>No completion of the order</p>
						<p>Warm reminder: more than three pens cancel orders, will be frozen when the world single jurisdiction</p>
					</div>
				</div>
				</div>
				<div class="centerDiv orderTable" style="display: none;">
					<div class="moneySet" onclick="goPayment();" style="width: 150px !important;">Payment setting</div>	
					<table class="table table-hover" id="finishedOrderTable">
						<thead>
							<tr>
								<th>Order number</th>
								<th>type</th>
								<th>state</th>
								<th>Currency pair</th>
								<th>price</th>
								<th>number</th>
								<th>money</th>
								<th>Order time</th>
							</tr>
						</thead>
						<tbody id="yesTrSelectListTable" >
							
						</tbody>
					</table>
				</div>		
				<!--分页-->
				<div class="pagss" style="overflow: hidden;box-sizing: border-box;padding-left: 20px" >
					<div class="right" style="float:right;display: inline-block;margin: 20px 30px">
						<!--<div id="pageToolbar"></div>-->
						<div id="pageToolbar2" style="display:none"></div>
						<div id="pageToolbar3" style="display:none"></div>
					</div>
				</div>
				
			</div>
		</div>
		
		<!--这里是底部-->
		<div id="footer"></div>
		<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="../../js/aliyun-oss-sdk-4.4.4.min.js"></script>
		<script type="text/javascript" src="../../js/Ecommon.min.js"></script>
		<script type="text/javascript" src="../../js/legalTender/ElegalTender_ajax.js" ></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<!--<script type="text/javascript" src="../../js/person_cen/person_cen.js"></script>-->
		<script type="text/javascript" src="../../js/legalTender/ElegalTender.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.qrcode.min.js"></script>
		<script type="text/javascript" src="../../js/paging.js"></script>
		<script type="text/javascript" src="../../js/QRCode.min.js"></script>7
		<script type="text/javascript" src="../../js/md5.min.js"></script>
		<script type="text/javascript">
		//分页
		var p = new Paging();

		var py = new Paging();
		py.init({target:'#pageToolbar2',pagesize:10,count:$('#totalY').val(), toolbar: false,hash: false,callback:function(page,size,count){
			allUnifished(2,page,10);
		},go:function(p){
			allUnifished(2,p,10);
		}});
		
		var pc = new Paging();
		pc.init({target:'#pageToolbar3',pagesize:10,count:$('#totalC').val(), toolbar: false,hash: false,callback:function(page,size,count){
			allUnifished(1,page,10);
		},go:function(p){
			allUnifished(1,p,10);
		}});
		
		</script>
	</body>
</html>
