<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Information</title>
		<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="../../css/common.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/header.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/Footer.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/Consultation/details.min.css"/>
	</head>
	<body>
		<!--分享二维码弹窗-->
		<div id="shareEr">
			<div class="shareErContent animated fadeInDown">
				<div id="output"></div>
				<div class="close"> <img src="../../img/close.png"/></div>
			</div>	
		</div>
		<!--这里是头部-->
		<div id="header"></div>
		<div id="detailsTitle">
			<a href="javascript:history.back(-1)">Information</a><img src="../../img/jiantou.png"/><span>Information details</span>
		</div>
		<div id="center">
			<!-- <div class="centerTitle">	
				<span class="contentTitle">ok资本行业报告：主流币bch、eos领涨计算机化大声疾呼设计...</span>									
				
				<span class="contentTime">2018-02-18</span>
				<span class="contentAddress">新华网</span>
			</div>
			<div class="centerdetails">
				<p>
					ok资本行业报告：主流币bch、eos领涨计算机化大声疾呼设计，3月20日下午，杭州市互联网金融协会秘书长楼建民、浙江互联网金融联合会执行副秘书长胡珊珊、挖财网
					副总裁全云峰、十六铺金融董事长傅丽鸿、鑫合汇副总裁史林等杭州优秀互联网金融平台的青年交流会”，行业新态势。
				</p>
				<img src="../../img/zixun1.png" />
				<p>
					“小黄狗”也来了！垃圾分类环保公益宣传，为本届徒步绿色公益活动增添了特别的色彩和正能量。“小黄狗”致力于推动垃圾分类、再生资源回收。最新消息，小黄狗智能
					垃圾分类回收箱即将进驻东莞的试点社区，通过大数据、人工智能、物联网帮助居民简单、轻松完成垃圾分类，扫码投放废品，当场就能返还现金，真正地“变废为宝”。加
					上完善的回收装运体系，“小黄狗”解决废品回收最后一公里的难题，促进垃圾分类回收，实现垃圾减量化、资源化、无害化。
				</p>
				<img src="../../img/zixun2.png" />
				<p>
					“小黄狗”也来了！垃圾分类环保公益宣传，为本届徒步绿色公益活动增添了特别的色彩和正能量。“小黄狗”致力于推动垃圾分类、再生资源回收。最新消息，小黄狗智能
					垃圾分类回收箱即将进驻东莞的试点社区，通过大数据、人工智能、物联网帮助居民简单、轻松完成垃圾分类，扫码投放废品，当场就能返还现金，真正地“变废为宝”。加
					上完善的回收装运体系，“小黄狗”解决废品回收最后一公里的难题，促进垃圾分类回收，实现垃圾减量化、资源化、无害化。
				</p>
			</div> -->
			<input type="hidden" id="fenxiang" value="">
			<input type="hidden" id="redisKey" value="">
			<div class="praise sidebar" id="usefulFrequency"><img src="../../img/zan.png" class="zan" / ></div>
			<div class="unpraise sidebar" id="uselessFrequency"><img src="../../img/cai.png" class="cai "/></div>
			<div style="display: none;" class="zanNum sidebar" id="zan"></div>
			<div style="display: none;" class="caiNum sidebar" id="cai"></div>
			<div class="sidebar share">分享</div>
			<div class="weibo sidebar" id="weibo"><img src="../../img/weibo.png"/></div>
			<div class="QQ sidebar" id="tencent"><img src="../../img/QQ.png"/></div>
			<div class="weixin sidebar" id="weChat"><img src="../../img/wx.png"/></div>
		</div>
		<div class="load">
			<div class="loadLogo fl">
				<img src="../../img/loadlogo.png"/>
			</div>
			<div class="loadBtn fr">
				<a href="https://www.big.top">立即下载</a>
			</div>
		</div>
		
		<!--这里是底部-->
		<div id="footer" style="clear: both;"></div>
		<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="../../js/aliyun-oss-sdk-4.4.4.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/Ecommon.min.js"></script>
		<script type="text/javascript" src="../../js/QRCode.js"></script>
		<script type="text/javascript" src="../../js/Consultation/details.min.js"></script>
	</body>
</html>