@charset "utf-8";
*{margin:0;padding: 0;}
a{text-decoration: none;outline:none;color:#8c8c8c;text-decoration:none;
   -moz-outline-style:none;}
ul{list-style-type: none;}
i,em,address{font-style: normal;}
img{display: block;max-width: 100%;outline: none;border:none}
a:hover{text-decoration:none}
.fl{
	float: left;
}
.fr{
	float:right;
}
.blank30{
	height:30px;
	width:10px;
}
.blank140{
	height:140px;
	width:10px;
}
.blank30{
	height:30px;
	width:10px;
}

.blank18{
	height:14px;
	width:10px;
}
.blank14{
	height:14px;
	width:10px;
}
.blank20{
	height:20px;
	width:10px;
}
.blank5{
	height:5px;
	width:10px;
}

/*这里是提示信息*/
.notice{position: fixed;font-size: 14px;color:#fff;left:50%;margin-left:-110px;top:50%;display: block;min-width:200px;height:40px;overflow: hidden;padding: 0px;background: rgba(0,0,0,.4);z-index: 999;border-radius: 5px;}
.notice i{width:40px;height: 40px;text-align: center;margin-right:10px;display: inline-block;line-height: 40px;}