*{
	-webkit-box-sizing:border-box;
}
body{
	background-color: #F3F8FC;
	color:#999999;
	font-size: 16px;
	
}
#register{
	width:780px;
	height:660px; 
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 24px rgba(146,172,193,0.3);
	margin:0 auto;
	margin-top:100px;
}
.register_content{
	width:420px;
	height:537px;
	margin:0 auto;
	/*background-color: antiquewhite;*/
	padding-top:59px;
	font-size: 14px;
}
.register_content p{
	width:98px;
	height:23px; 
	font-size:22px;
	color:rgba(51,51,51,1);
	line-height:12px;
	margin:0 auto;
}
.register_message{
	width:420px;
	height:500px;
	/*background-color: antiquewhite;*/
	margin-top:14px;
}
.phoneHint{
	width:127px;
	height:13px; 
	font-size:12px;
	position: absolute;
	right:0px;
	bottom: -25px;
	color:#DF6B3A;
	text-align: right;
	/*display: none;*/
}
.registerPhoneInput,.registerVerifyInput,.loginPasswordInput,.checkPasswordInput{
	width: 200px;
	border: none;
	height: 20px;
	font-size: 16px;
	color:rgba(51,51,51,1);
	margin-top: 10px;
}
.registerPhoneInput:focus,.registerVerifyInput:focus,.loginPasswordInput:focus,.checkPasswordInput:focus{
	outline:0 !important;
	
	
}
.active{
	display: block;
}
.registerPhoneLeft,.registerVerifyLeft,.loginPasswordLeft,
.checkPasswordLeft{
	position: absolute;
	bottom:11px;
	/*background-color: aqua;*/
}
.registerVerifyRight,.loginPasswordRight,.checkPasswordRight{
	position: absolute;
	right:0px;
	bottom: 11px;
}
.registerVerifyRight{
	/*width:94px;
	height:14px;*/
}
.registerVerifyRight a{
	text-align: center;
	font-size:14px;
	margin-left:10px;
	display: inline-block;
	width: 70px;
	text-align: center;
}
.registerVerifyRight span{
	text-align: center;
	font-size:14px;
	margin-left:10px;
	display: inline-block;
	width: 70px;
	text-align: center;
}
.registerVerifyRight::before{
	content: '|';	
}
.loginPasswordRight img,.checkPasswordRight img,.closeImg img{
	width:20px;
	height:14px;
}
.closeImg1 img{
	width:20px;
	height:14px;
}
.closeImg,.closeImg1{
	position: absolute;
	right:0px;
	bottom: 11px;
	display: none;
}
.lastTime{
	position: absolute;
	right:-35px;
	bottom: 11px;
	color:#1660EB;
	display: none;
}
.registerPhone,.registerVerify,.loginPassword,.checkPassword{
	height:96px;
	width:420px;
	/*border:1px solid red;*/
	position:relative;
	/*display: flex;
	justify-content: flex-start;
	align-items: flex-end;*/
}
.registerBtn{
	width:420px;
	height:44px; 
	background:rgba(22,96,235,1);
	border-radius: 4px;
	margin-top:40px;
	text-align: center;
	color:rgba(255,255,255,1);
	line-height:44px;
	font-size: 16px;
}
.bottomLine{
	width:420px;
	height:1px;
    /*background:rgba(22,96,235,1);*/
    background:#EBEDF0;
    position:absolute;
    bottom:0px;
    margin-top:11px;
}
.changeLine{
	width:0px;
	height:1px;
    /*background:rgba(22,96,235,1);*/
    background:rgba(22,96,235,1);
    /*background:#EBEDF0;*/
    position:absolute;
    bottom:0px;
    left: 50%;;
    margin-top:11px;
}
.agreement{
	width:420px;
	height:13px; 
	font-size:12px;
	color:rgba(153,153,153,1);
	line-height:12px;
	margin-top:15px;
	letter-spacing: 1px;
}
.agreementLeft{
	width:294px;
}
.agreementRight{
	width:55px;
}
.agreementRight a{
	color:#1660EB;
	text-decoration: underline;
}



@media only screen and (min-width: 100px) and (max-width: 1600px) {
	#register{width:700px;height:550px;margin-top:50px}
	.register_content{margin-top:20px !important;padding-top:30px}
	.register_message{margin-top:0}
	.registerPhone, .registerVerify, .loginPassword, .checkPassword{height: 85px;}
}
