.header{display: block;width:100%;height:80px;z-index: 99;background:rgba(28,32,54,1)}
/*.fadeInDown{background: rgba(255,255,255,.8);color:#000 !important}
.fadeInDown a{color:#000 !important}
.fadeInDown .header-box .nav-right{color:#000 !important}*/


.header .header-box{width:80%;height: 80px;margin:0 auto;background:rgba(28,32,54,1);min-width: 1200px;}
.header .header-box .log{display: inline-block;float: left;}
.header .header-box .log img{display: block;width:120px;height: 40px;margin:20px 10px 0 0}
.header .header-box .log img.img-dow{display: none;}
.header .header-box .nav{display: inline-block;height:40px;line-height: 40px;float: left;margin-left:20px;margin-top:20px}
.header .header-box .nav a{display: inline-block;padding:0 10px;margin:0 15px;color:#fff;font-size: 16px;transition: all 0.3s linear;position: relative;text-decoration: none;font-weight: 200;}
.header .header-box .nav .coin{display:inline-block;position: relative;height:60px}
.header .header-box .nav .coin .coin-sub{display: none;position: absolute;width:400px;height:240px;background:#fff;box-shadow: 0 0 5px #55A4F1;border-radius: 5px;top: 60px;left:-10px;z-index: 99;}
.header .header-box .nav .coin .coin-sub .coin-box{position: relative;}
.header .header-box .nav .coin .coin-sub .coin-box .triangle{position: absolute;border-bottom: 12px solid #fff;border-left: 12px dashed transparent;border-right: 12px dashed transparent;border-top:12px solid transparent;left:50px;top:-23px}
.header .header-box .nav .coin .coin-sub .sub_nav .suba{display: inline-block;width:100px;height:40px;text-align: center;line-height: 40px;font-size: 14px;float: left;}
.header .header-box .nav .coin .coin-sub .sub_nav .atv{background:#fff;color:#1660EB}
.header .header-box .nav-right .capital a:hover{color:#1660EB !important}
.header .header-box .nav-right .capital a{transition: all 0.5s linear;text-decoration: none;}

.header .header-box .nav .coin .coin-sub .sub_nav{box-sizing: border-box;background:#F5F5F5;overflow: hidden;}
.header .header-box .nav .coin .coin-sub .tainer_box .currency{width: 405px;}
.header .header-box .nav .coin .coin-sub .tainer_box .currency .item{display: inline-block;width:32%;height:30px;line-height: 30px;text-align: center;font-size: 12px;}
.header .header-box .nav .coin .coin-sub .tainer_box .currency span{color:#D2D2D2;}
.header .header-box .nav .coin .coin-sub .tainer_box .currency .item:hover{background:#F3F8FC ;}
.header .header-box .nav .coin .coin-sub .tainer_box .currency i{color:#D2D2D2;}

.header .header-box .nav a::before{ content: ""; position: absolute; left: 0; bottom: 0; width: 100%;text-decoration: none;
                      height: 2px; background: #1660EB;transition: transform .5s;transform: scaleX(0);}

.header .header-box .nav a:hover::before{ transform: scaleX(1);}
.header .header-box .nav a:hover{color: #1660EB ;}
.fadeInDown .header-box .nav a:hover{color: #1660EB !important;}
.header .header-box .nav-right{display: inline-block;float: right;height:80px;color:#fff;font-size: 16px;font-weight: 200;}
.header .header-box .nav-right:after{content: "";display: block;overflow: hidden;}
.header .header-box .nav-right .person{display: inline-block;float: right;line-height: 80px;width:140px;cursor: pointer;position: relative;}
.header .header-box .nav-right .person p:hover{color:#1660EB}
.header .header-box .nav-right .person:hover i{color:#fff;transform: rotate(180deg);}
.header .header-box .nav-right .person{transition: all linear 0.5s;}

.header .header-box .nav-right .person i{transition: all 0.3s linear;}
.header .header-box .nav-right .person i{display: inline-block;position: absolute;top:0px;right: 20px;}
.header .header-box .nav-right .person .sub-box a{color:#000;text-decoration: none;}
.header .header-box .nav-right .person .sub-box{border-radius: 5px;color: #000;display: none;width:140px;overflow: hidden;position: absolute;left: 0;top: 70px;background: #fff;box-shadow:2px 2px 6px rgba(80,162,244,0.3);z-index: 10;}
.header .header-box .nav-right .person .sub-box .item{display: block;text-align: center;line-height:40px ;}
.header .header-box .nav-right .person .sub-box .item:hover{background:#E6ECFC;color:#1660eb}

.header .header-box .nav-right .capital{display: inline-block;float: right;line-height: 80px;margin:0 30px;cursor: pointer;transition: all 0.3s linear;}
.header .header-box .nav-right .capital:hover{color:#1660EB}
.header .header-box .nav-right .download{display: inline-block;float: right;line-height: 80px;cursor: pointer;transition: all 0.3s linear;}
.header .header-box .nav-right .download:hover{color:#1660EB}
.header .header-box .nav-right .download a{text-decoration: none;transition: all 0.5s linear;}
.header .header-box .nav-right .download a:hover{color:#1660EB}
.header .header-box .nav-right .register{float: right;line-height: 80px;cursor: pointer;transition: all 0.3s linear;}
.header .header-box .nav-right .log{float: right;line-height: 80px;cursor: pointer;transition: all 0.3s linear;margin:0 30px}
.header .header-box .nav-right .register:hover{color:#1660EB}
.header .header-box .nav-right .log:hover{color:#1660EB}
.header .header-box .nav-right a{color:#fff}

			/*这里是分页的也的*/
.ui-paging-container{color:#666;font-size: 12px;}
.ui-paging-container ul{overflow: hidden;text-align: center;}
.ui-paging-container ul,.ui-paging-container li{list-style: none;}
.ui-paging-container li{display: inline-block;padding:3px 6px;margin-left: 5px;color:#666;}
.ui-paging-container li.ui-pager{cursor: pointer; border:1px solid #ddd;border-radius: 2px;}
.ui-paging-container li.ui-pager:hover,.ui-paging-container li.focus{background-color: #288df0;color:#FFFFFF;}
.ui-paging-container li.ui-paging-ellipse{border:none;}
.ui-paging-container li.ui-paging-toolbar{padding:0;}
.ui-paging-container li.ui-paging-toolbar select{height:22px;border:1px solid #ddd;color: #666;}
.ui-paging-container li.ui-paging-toolbar input{line-height: 20px; height:20px;padding:0;border:1px solid #ddd;text-align: center;width: 30px;margin:0 0 0 5px;vertical-align: middle;}
.ui-paging-container li.ui-paging-toolbar a{vertical-align: middle; text-decoration: none;display: inline-block;height:20px;border:1px solid #ddd;vertical-align: top;border-radius: 2px;line-height: 20px;padding:0 3px;cursor: pointer;margin-left: 5px;color: #666;}
.ui-paging-container li.ui-pager-disabled,.ui-paging-container li.ui-pager-disabled:hover{background-color: #f6f6f6;;cursor: default;border:none;color:#ddd;}
.ui-paging-container li.ui-pager-disabled,.ui-paging-container li.ui-pager-disabled:hover{background-color: #f6f6f6;;cursor: default;border:none;color:#ddd;}
.wrapper-content table tr td{max-width: 150px !important;word-wrap:break-word; }

